.li {
    list-style: none;
    padding: 0 0.5rem;

    .a {
        text-decoration: none;
        color: white;
        pointer-events: all;
        opacity: 1;
        transition: opacity 1.5s ease-out ;
        cursor: pointer;

        &:hover,
        &:active {
            color: red;
        }
    }

}